
report {
    enabled = true    
    file = "output/run_report_${new Date().format('yyyy-MM-dd_HH-mm')}.html"   
}  

params {
// cluster parameters
    singularity = '/project/CELLOseq/shared/images/sarlacc.img'
    path = '/ceph/project/CELLOseq'
// user parameters
    params.experiment_name = 'all_plate' 
    params.queue = 'long'
    params.cpus = 1
    params.time ='01:09:30'
    params.memory = '50 GB'
    params.minimap_reference_index = '/ceph/project/CELLOseq/lmcleand/reference_genomes/Mus_musculus.GRCm39.dna.primary_assembly.fa.mmi'
}

process {
    // define slurm parameters
    executor = 'slurm' 
    // change to long
    queue = { task.attempt == 3 ? 'long' : params.queue }
    cpus = { task.attempt == 3 ? 2 : params.cpus }
    time = { task.attempt == 3 ? '6day 23hours 59minutes 30seconds' : params.time }
    memory = { task.attempt == 3 ? '800 GB' : params.memory }

}

